@model IEnumerable<shopdongho.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_LayoutDangNhap.cshtml";
}



    <div class="container-xxl py-5">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">Thông Báo</strong>
                <small class="text-muted">11 mins ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                @ViewBag.donhang
            </div>
        </div>
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1>Xin Chào: @Session["Fullname"] đã đến với shop của chúng tôi</h1>
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Menu</h5>
                <h1 class="mb-5">Các Sản Phẩm Mới</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="~/Public/Img/@item.Img" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>@item.Name</span>
                                                <span class="text-primary">@(item.Price.ToString("n0")) VND</span>
                                                <a href="@Url.Action("Xem", "TrangChuDangNhap", new { @id = item.Id })" class="btn btn-sm btn-warning" +>
                                                    Chi Tiết
                                                </a>
                                                <a href="@Url.Action("Mua", "TrangChuDangNhap", new { @id = item.Id })" class="btn btn-sm btn-info">
                                                    Mua
                                                </a>
                                            </h5>
                                            <small class="fst-italic">@ViewBag.ListCat</small>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="/Assets/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="/Assets/img/about-2.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="/Assets/img/about-3.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="/Assets/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">About</h5>
                <h1 class="mb-4">Welcome to TimeShop</h1>
                <p class="mb-4">Den voi chung toi ban co the mua sam nhung gi minh thich ma khong can lo lang ve chat luong vi chung toi bao dam voi ban nhung san pham cua chung toi la tot nhat tren thi truong hien nay.</p>
                <p class="mb-4">Chung toi cam ket mang lai nhung gia tri cao nhat , che do tot nhat va nhung san pham chinh hang cho khach hang khi den coi cua hang. </p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                            <div class="ps-4">
                                <p class="mb-0">So nam</p>
                                <h6 class="text-uppercase mb-0">Kinh nghiem</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">500000</h1>
                            <div class="ps-4">
                                <p class="mb-0">Da ban</p>
                                <h6 class="text-uppercase mb-0">San Pham</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Doc Them</a>
            </div>
        </div>
    </div>
</div>