@model IEnumerable<shopdongho.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class=" card">
        <div clas="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-uppercase text-danger">Danh sách bài viết</strong>
                </div>
                <div class="col-md-6 text-end">
                    <a href="@Url.Action("Create", "Post")" class="btn btn-success">
                        <i class="fa-solid fa-plus"></i>Thêm
                    </a>
                    <a href="@Url.Action("Trash", "Post")" class="btn btn-danger">
                        <i class="fa-solid fa-trash-alt"></i>Thùng Rác
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:20px;" class="text-center">#</th>
                        <th>Tiêu đề</th>
                        <th>Từ khóa bài viết</th>
                        <th>Chi tiết bài viết</th>
                        <th style="width:180px;" class="text-center">Chức năng</th>
                        <th style="width:20px;" class="text-center">Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <input name="checkId" type="checkbox" />
                            </td>
                            <td>@item.Tile
                            </td>
                            <td>@item.Metakey</td>

                            <td>@item.Metadese</td>
                            <td class="text-center">
                                @if (item.Status == 1)
                                {
                                    <a href="@Url.Action("Status", "Post", new { @id = item.Id })" class="btn btn-sm btn-success">
                                        On
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Status", "Post", new { @id = item.Id })" class="btn btn-sm btn-danger">
                                        Off
                                    </a>
                                }
                                <a href="@Url.Action("Details", "Post", new { @id = item.Id })" class="btn btn-sm btn-warning" +>
                                    Chi tiết
                                </a>
                                <a href="@Url.Action("Edit", "Post", new { @id = item.Id })" class="btn btn-sm btn-info">
                                    Sửa
                                </a>
                                <a href="@Url.Action("Delete", "Post", new { @id = item.Id })" class="btn btn-sm btn-danger">
                                    Xóa
                                </a>
                            </td>
                            <td class="text-center">@item.Id</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>