@model IEnumerable<shopdongho.Models.Topic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class=" card">
    <div clas="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-danger">Thùng rác</strong>
            </div>
            <div class="col-md-6 text-end">
                <a href="@Url.Action("Index", "Topis")" class="btn btn-success">Quay về danh sách</a>
            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:20px;" class="text-center">#</th>
                    <th>Tên loại bài viết</th>
                    
                    <th style="width:180px;" class="text-center">Chức năng</th>
                    <th style="width:20px;" class="text-center">Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <input name="checkId" type="checkbox" />
                        </td>
                        <td>@item.Name</td>
                        
                        <td class="text-center">
                            <a href="@Url.Action("ReTrash", "Topics", new { @id = item.Id })" class="btn btn-sm btn-info">
                                <i class="fa-solid fa-backward"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Topics", new { @id = item.Id })" class="btn btn-sm btn-danger">
                                Xóa
                            </a>
                        </td>
                        <td class="text-center">@item.Id</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
